@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

body{

    background-color: #676868;
    color: white;
    font-family: 'Gabarito', sans-serif;

}
nav{
    background-color: black;
}
ul, li{
    color: black ;
}
#title{
    position: relative;
    left: 100px;
}
#title:hover{
    color: purple;
}
